body {
    overflow: hidden;
}

.wrap {
    width: 400px;
    margin: 10vh auto;
}

.mb-3 {
    margin-top: 20px;
    padding-bottom: 10px;
}

.signup-btn {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 2.5vh;

    border: white solid 1px;
    background-color: #7ed6df;
    color: black;
}

.btn:hover {
    background-color: #34ace0;
    color: black;
    border: white solid 1px;
}

#logo {
    margin-top: 25px;
    margin-left: 20px;
    border: #7ed6df solid 1px;
    border-radius: 8px;
}

.logo-box {
    height: 130px;
    background-color: #7ed6df;
}

.wrap span {
    border: none;
    background-color: transparent;
    margin-right: 20px;
    text-align: center;
}

.wrap input {
    /*border: #7ed6df solid 1px;*/
}

.bottom-color {
    background-color: #7ed6df;
    width: 1440px;
    height: 150px;
}

.line {
    background-color: #7ed6df;
    margin: 0;
}