<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main_btn_ver.css">

    <script>
        function write() {
            let texts = $('#floatingTextarea2').val();
            let temp_html = `<li>${texts}</li>`
            $('#temp-write').append(temp_html)
        }

        function logout() {
            location.href = "/";
        }
    </script>

    <style>
        .first {
            margin: 40px 70px auto 70px;
        }

        .first_img {
            width: 350px;
            height: 300px;
        }

        .first_title {
            width: 940px;
            height: 300px;
            float: right;
            border: #7ed6df solid 5px;
            padding: 30px;
        }

        .mid_img {
            width: 350px;
            height: 300px;
            float: right;
        }
        .mid_title {
            width: 940px;
            height: 300px;
            border: #7ed6df solid 5px;
            padding: 30px;
        }

    </style>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div class="first">
    <img src="../../static/favorite_ny/cat2.jpg" class="first_img">
    <div class="first_title">
        <h4 style="text-align: center"> 나의 첫번째 고양이 : 오비</h4><br>
        <p> 캐나다 유학 시절 함께 지냈던 고양이 오비예요.
            <br>반려동물을 키워본 경험이 없었기 때문에 걱정이 많았지만 무색할만큼 애교가 많았은 개냥이였어요.
            <br>오비는 사람을 너무 좋아해서 잘 때도 꼭 붙어서 자야하고 공부하느라 책상에 앉아있으면 꼭 무릎에 올려달라고 등을 툭툭치기도 했어요.
            <br>정이란게 정말 무서운건 저도 집을 떠나던 날 앞으로는 보지 못한다는 생각에 너무 슬펐지만, 이 감정을 오비도 느꼈는지 제가 떠난 후 한달동안 제 방 침대에 누워 계속 절 기다리고 밥도
            안먹었다고 하더라구요.
            <br>고양이는 까칠 도도하다는 편견을 깨준 나의 소중한 첫 반려묘 오비덕분에 고양이의 매력에 푹 빠지게 되었어요.</p>
    </div>
</div>
<div class="first">
    <img src="../../static/favorite_ny/cat3.JPG" class="mid_img">
    <div class="mid_title">
        <h4 style="text-align: center">유기묘 봉사활동</h4><br>
        <p></p>
    </div>
</div>
<div class="first">
    <img src="../../static/favorite_ny/cat1.JPG" class="first_img">
    <div class="first_title">
        <h4 style="text-align: center">나의 소중한 반려묘 : 김가을</h4><br>
        <p></p>
    </div>
</div>
</body>
</html>