<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>
        function write() {
            let texts = $('#floatingTextarea2').val();
            let temp_html = `<li>${texts}</li>`
            $('#temp-write').append(temp_html)
        }

        function logout() {
            location.href = "/";
        }
    </script>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div>
    <div>
        <img class="aboutme-img" src="../../static/favorite_ny/nayeong.JPG">
        <p class="aboutme-text">안녕하세요! 항해 99 2기로 참여하게된 김나영이라고 합니다.
            <br><br>저는 이공계도 아닌 서비스를 전공하면서 항공사에서 근무하다 스타트업 운영팀에 입사하게 되었어요.
            <br>회사 자체 시스템을 사용하거나 고객의 건의사항 등을 들으면 개발자님께 요청하고 업데이트된 버전을 받아 업무를 진행하였는데 어느 날 우연히 개발자님들이 슬랙에서 나누시는 대화를
            보게되었어요.
            <br>비전공자인 제게는 하나도 이해하지 못하는 내용이었지만, 이해해보고싶은 욕구가 생기더니 '요청은 이제 그만! 내가 직접 해결해보자!'라는 생각을 하고 있더라구요.
            <br>일에 욕심도 많은 편이고 습득력도 좋은 편이라 생각하여 스스로를 믿고 용기내어 코딩의 세계에 뛰어들었어요.
            <br>앞으로도 열심히 성장하는 개발자의 길을 걷겠습니다. 화이팅!</p>
    </div>
    <p style="font-weight: bold; text-align: center; font-size: 30px; margin: 20px auto">>>Interest<<</p>
    <div class="flex_box">
        <button type="button" class="btn btn-favorite"><img src="../../static/favorite_ny/cat.JPG" class="favorite"></button>
        <button type="button" class="btn btn-favorite"><img src="../../static/favorite_ny/yoga.JPG" class="favorite"></button>
        <button type="button" class="btn btn-favorite"><img src="../../static/favorite_ny/travel.JPG" class="favorite"></button>
    </div>

    <div>
        <div class="writememo">
            <div class="form-floating">
                <label for="floatingTextarea2">메모장</label>
                <textarea class="form-control" placeholder="공부 기록 또는 개발 프로젝트 외 여러가지 메모하기"
                          id="floatingTextarea2"
                          style="height: 150px"></textarea>
            </div>
            <button type="button" onclick="write()" class="btn btn-primary btn-memo">작성완료</button>
            <hr>
        </div>
        <ul id="temp-write">
            <li>12123</li>
        </ul>
    </div>
</div>

</body>
</html>