<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>
        function write() {
            let texts = $('#floatingTextarea2').val();
            let temp_html = `<li>${texts}</li>`
            $('#temp-write').append(temp_html)
        }

        function logout() {
            location.href = "/";
        }
    </script>
</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>

</body>
</html>