<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/calendar.css">

    <script>
        function logout() {
            location.href="/";
        }
    </script>


</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div>
    <table class="bodytable">
        <tr class="calendar" rowspan="2">
            <th class="header">
                <div class="year-month"></div>
                <td class="nav-box">
                    <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                    <button class="nav-btn go-today" onclick="goToday()">today</button>
                    <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                </td>
            </th>
            <th class="main">
                <td class="days">
                    <p class="day">일</p>
                    <p class="day">월</p>
                    <p class="day">화</p>
                    <p class="day">수</p>
                    <p class="day">목</p>
                    <p class="day">금</p>
                    <p class="day">토</p>
                </td>
                <td class="dates"></td>
            </th>
        </tr>

        <tr>
            <td>
                <p class="guide">사전스터디 첫 팀 프로젝트!<br>
                    자기소개 페이지 및 공부방 사이트입니다.<br>
                    각자의 취미 및 관심사, 맛집 등의 정보와 그동안 공부한 것들을 기록 했습니다.</p>
            </td>
        </tr>
        <tr>
            <td class="bloglink">
                <p style="text-align: center; font-weight: bold; font-size: 20px">>>개인 개발 블로그 링크<<</p>
                <p>>> 우종혁</a><br>블로그 :
                    <a href="https://destory.tistory.com" style="color: black">https://destory.tistory.com</a><br>깃허브 : <a href="https://github.com/Jongveloper" style="color: black">https://github.com/Jongveloper</a></p>
                <p>>> 이선민</a><br>블로그 :
                    <a href="https://velog.io/@sunm309" style="color: black">https://velog.io/@sunm309</a><br>깃허브 : <a href="https://github.com/sunm-in" style="color: black">https://github.com/sunm-in</a></p>
                <p>>> 주재인</a><br>블로그 :
                    <a href="https://axis.tistory.com/" style="color: black">https://axis.tistory.com</a><br>깃허브 : <a href="https://github.com/demian0721" style="color: black">https://github.com/demian0721</a></p>
                <p>>> 김나영</a><br>블로그 :
                    <a href="https://velog.io/@skdud4659" style="color: black">https://velog.io/@skdud4659</a><br>깃허브 : <a href="https://github.com/skdud4659" style="color: black">https://github.com/skdud4659</a></p>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="../static/js/calendar.js"></script>
</body>
</html>