<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>
        function logout() {
            location.href = "/";
        }
    </script>

    <style>
        .first {
            margin: 40px 70px auto 70px;
        }

        .first_img {
            width: 350px;
            height: 300px;
        }

        .first_title {
            width: 940px;
            height: 300px;
            float: right;
            border: #7ed6df solid 5px;
            padding: 30px;
        }

    </style>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트</span>
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div class="first">
    <img src="../../static/favorite_jh/baberj.jpg" class="first_img">
    <div class="first_title">
        <h4 style="text-align: center">바버샵을 좋아하게 된 계기</h4><br>
        <p>
            바버샵을 가게 된 계기는 사람에게 있어서 첫인상이 중요하다고 생각해서 였습니다.
            <br>전 직장은 영업직군이었고 영업직인 만큼 깔끔한 인상과 신뢰감을 주고 싶었습니다.
            <br>그렇게 여러 머리스타일을 찾아보았고 바버샵은 깔끔한 인상을 주는 머리스타일을 하기 적합한 곳이었습니다.
            <br>처음으로 짧게 자른머리는 어색하지만 확실하게 깔끔해보였고 좋았습니다.
            <br>그 후로 바버의 매력에 빠져 항상 깔끔한 머리스타일을 유지하기 시작했고 곱슬머리로 스트레스 받던 저에게 자신감을 주었습니다.
            <br>처음 짧게 자른 머리는 어색했지만 지금은 깔끔한 인상과 기억에 남는 인상으로 단점보단 장점이 많았습니다.
            </p>
    </div>
</div>