<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>
        function logout() {
            location.href = "/";
        }
    </script>

    <style>
        .first {
            margin: 40px 70px auto 70px;
        }

        .first_img {
            width: 350px;
            height: 300px;
        }

        .first_title {
            width: 940px;
            height: 300px;
            float: right;
            border: #7ed6df solid 5px;
            padding: 30px;
        }
    </style>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div class="first">
    <img src="https://cdn.pixabay.com/photo/2015/10/12/15/14/coffee-984328_1280.jpg" class="first_img">
    <div class="first_title">
        <h4 style="text-align: center"> 커피는 사랑입니다.</h4><br>
        <p>
            커피는 직장인들의 필수음료이죠!
            <br>사실 처음 커피는 아무 생각없이 마시게 되었고 직장생활을 하면서 하루에 서너잔의 커피를 마시곤 했습니다.
            <br>그러다가 커피를 좋아하게 되었고 향을 즐기고 제가 좋아하는 커피스타일이 어떤 스타일인지 알게 되었습니다.
            <br>커피에 대한 많은 지식이 있지는 않지만 콜드브루를 집에서 담궈먹을정도로 좋아하게 되었습니다.
            <br>커피를 마시면 마음이 차분해지고 집중이 되기때문에 공부나 일을 할 때 마시면 더욱 좋은 것 같습니다.
            <br>원두의 종류와 같은 전문적인 지식을 가지고 있진 않지만 커피는 저에게 있어 없어서는 안될 음료입니다.
    </div>
</div>
