<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>


        function logout() {
            location.href = "/";
        }

        // 관심분야 onclick 설정 후 페이지 연결 //
        // function {
        //     location.href = "";
        // }
        //
        // function {
        //     location.href = "";
        // }
        //
        // function {
        //     location.href = "";
        // }
    </script>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트 </span>
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div>
    <div>
        <img class="aboutme-img" src="../../static/favorite_jh/jonghyuk.jpg">
        <p class="aboutme-text">안녕하세요! 항해99 2기 우종혁입니다!
        <br>동대문종합시장에서 6년간 근무하다 부의 추월차선을 읽게되고
        <br>프로그래밍에 대한 호기심을 느끼며 프로그래밍에 대해 찾아보았습니다.
        <br>처음 호기심으로 찾기 시작한 프로그래밍은 정말 매력적이었습니다.
        <br>처음으로 코딩을 했을 때 제가 출력한 화면은 정말 신기하고 처음받아보는 느낌이었습니다.
        <br>프로그래밍을 공부하면 제가 머릿속에 설계한대로 제 생각대로 프로그램이 완성된다고 생각하니
        <br>배우고 싶은 열정이 더욱 커지게 되어 유튜브를 통해 기초적인 파이썬 공부와 html을 공부하였습니다.
        <br>하지만 혼자서 유튜브로 공부하기엔 의문이 남는점이 많았고 관심있게 보고있던 부트캠프들을 찾아보았습니다.
        <br>그중 확실한 주특기를 만들 수 있다는 항해99부트 캠프를 보고 지원하게 되었습니다.
        <br>아직 많이 부족하지만 열심히 공부하여 좋은 개발자가 되기위해 노력하겠습니다.
        <br>모두 파이팅하시길 바랍니다!</p>
    </div>
    <p style="font-weight: bold; text-align: center; font-size: 30px; margin: 20px auto">>>Interest<<</p>
    <div class="flex_box">
        <button type="button" class="btn btn-favorite"><img src="" class="favorite" onclick=""></button>
        <button type="button" class="btn btn-favorite"><img src="" class="favorite" onclick=""></button>
        <button type="button" class="btn btn-favorite"><img src="" class="favorite" onclick=""></button>
    </div>

    <div>
        <div class="writememo">
            <div class="form-floating">
                <label for="memo">메모장</label>
                <textarea class="form-control" placeholder="공부 기록 또는 개발 프로젝트 외 여러가지 메모하기"
                          id="memo"
                          style="height: 150px"></textarea>
            </div>
            <button type="button" onclick="memo_comm();" class="btn btn-primary btn-memo">작성완료</button>
            <hr>
        </div>
        <ul id="temp-write">
            <li>메모를 작성하면 아래에 저장됩니다!</li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        listing();
    });

    function listing() {
        $.ajax({
            type: "GET",
            url: "/memo",
            data: {},
            success: function (response) {
                let memoview = response["memo"];
                for (let i = 0; i < memoview.length; i++) {
                    let memo = memoview[i]['memo'];
                    let temp_html = `<ul>
                                        <li>${memo}</li>
                                     </ul>`
                    $('#temp-write').append(temp_html)
                }
            }
        })

    }

    function memo_comm() {
        let memo = $('#memo').val();
        $.ajax({
            type: "POST",
            url: "/memo",
            data: {memo: memo},
            success: function (response) {
                alert(response['msg'])
                window.location.reload();
            }
        })
    }

</script>
</body>
</html>