<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>
        function logout() {
            location.href = "/";
        }
    </script>

    <style>
        .first {
            margin: 40px 70px auto 70px;
        }

        .first_img {
            width: 350px;
            height: 300px;
        }

        .first_title {
            width: 940px;
            height: 300px;
            float: right;
            border: #7ed6df solid 5px;
            padding: 30px;
        }

        .mid_img {
            width: 350px;
            height: 300px;
            float: right;
        }
        .mid_title {
            width: 940px;
            height: 300px;
            border: #7ed6df solid 5px;
            padding: 30px;
        }

    </style>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div class="first">
    <img src="https://cdn.pixabay.com/photo/2020/01/02/23/04/boombox-4736991_1280.jpg" class="first_img">
    <div class="first_title">
        <h4 style="text-align: center"> 좋아하는 음악 장르</h4><br>
        <p>
            힙합을 좋아하게된 계기는 처음 들었을 때 자신의 얘기를 솔직하게 말할 수 있고 그 감정이 그대로 저에게 전달이 되어서 좋았습니다.
            <br>힙합이란 장르의 장점은 한가지 장르에서 여러가지의 감정전달을 받을 수 있는 것 입니다.
            <br>실제로 힘든 일이 있을 때 힘을 주거나 용기를 복돋아주는 음악을 들으면서 극복하곤 했습니다.
            <br>힙합은 힘든일이 있을 땐 용기를 복돋아 주는 음악을 듣고 신나는 일이 있을 땐 신나는 노래를 들어 기분을 더욱 업시켜주는 훌륭한 도구입니다.
            <br>또한 좋아하는 아티스트들은 저에게 많은 동기부여가 되기에 힙합은 저에게 가장 소중한 음악장르입니다.</p>
    </div>
</div>
<div class="first">
    <img src="https://cdn.pixabay.com/photo/2015/09/18/11/35/vinyl-records-945396_1280.jpg" class="mid_img">
    <div class="mid_title">
        <h4 style="text-align: center">좋아하는 앨범</h4><br>
        <p style="text-align: center;">
            1. cjamm : 킁
            <br>2. 뱃사공 : 탕아
            <br>3. 창모,폴블랑코 : BIPOLAR
            <br>4. 빈지노 : 24:26
            <br>5. 오왼 : P.O.E.M</p>
    </div>
</div>
