<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>항해 2기 사전 스터디 2조 토이프로젝트</title>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    <script>

        function logout() {
            location.href="/";
        }

        // 관심분야 onclick 설정 후 페이지 연결 //
        function {
            location.href="";
        }

        function {
            location.href="";
        }

        function {
            location.href="";
        }
    </script>

</head>
<body class="wrap">
<div>
    <button type="button" class="btn btn-primary signup-btn btn-login-out" onclick="logout()">로그아웃</button>
    <div>
        <a href="/main">
            <img id="logo" src="../../static/image/logo.jpeg">
        </a>
        <span class="top_title">항해 2기 사전 스터디 2조 토이프로젝트 </span>
    </div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/main">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jonghyuk">우종혁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/seonmin">이선민</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jaein">주재인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nayeong">김나영</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">공부방</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
<div>
    <div>
        <img class="aboutme-img" src="../../static/favorite_sm/sunmin.jpeg">
        <p class="aboutme-text">안녕하세요 항해99 2기에 참여하게 된 이선민입니다!
            <br>저는 개발자를 목표로 아무것도 모르는 상태에서 공부를 시작하고
            <br>제 마음대로 진도를 정해놓고 하다 보니 비효율적이라고 생각했습니다.
            <br>내가 뭘 모르는지 앞으로 뭘 해야 하는지 알고 하는 공부를 하고 싶어
            <br>항해99에 지원하기도 했고 협업을 중요시하는 커리큘럼이다 보니 혼자보단
            <br>같이 파이팅 하면서 즐겁게 공부를 하고 싶습니다! 잘 부탁드립니다!!
        </p>
    </div>
    <p style="font-weight: bold; text-align: center; font-size: 30px; margin: 20px auto">>>Interest<<</p>
    <div class="flex_box">
        <button type="button" class="btn btn-favorite"><img src="../../static/favorite_sm/baseball.jpeg" class="favorite" onclick=""></button>
        <button type="button" class="btn btn-favorite"><img src="" class="favorite" onclick=""></button>
        <button type="button" class="btn btn-favorite"><img src="" class="favorite" onclick=""></button>
    </div>

    <div>
        <div class="writememo">
            <div class="form-floating">
                <label for="memo">메모장</label>
                <textarea class="form-control" placeholder="공부 기록 또는 개발 프로젝트 외 여러가지 메모하기"
                          id="memo"
                          style="height: 150px"></textarea>
            </div>
            <button type="button" onclick="memo_comm();" class="btn btn-primary btn-memo">작성완료</button>
            <hr>
        </div>
        <ul id="temp-write">
            <li>메모를 작성하면 아래에 저장됩니다!</li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        listing();
    });

    function listing() {
        $.ajax({
            type: "GET",
            url: "/smemo",
            data: {},
            success: function (response) {
                let memoview = response["smemo"];
                for (let i = 0; i < memoview.length; i++) {
                    let memo = memoview[i]['smemo'];
                    let temp_html = `<ul>
                                        <li>${memo}</li>
                                     </ul>`
                    $('#temp-write').append(temp_html)
                }
            }
        })

    }

    function memo_comm() {
        let memo = $('#memo').val();
        $.ajax({
            type: "POST",
            url: "/smemo",
            data: {smemo: memo},
            success: function (response) {
                alert(response['msg'])
                window.location.reload();
            }
        })
    }

</script>

</body>
</html>